@import "../../../styles/default";

.box-title{
  color: $dark-blue;
  margin-bottom: 15px;
}

.section-header{
  padding-top: 15px;
  background-color: $white;

  &-title{
    color: $gray;
  }

  &-link{
    color: $gray;
  }

  &-icon{
    color: $gray !important;
  }
}


.fa{
  color: $gray;
  cursor: pointer;
}

.box-wrapper{
  padding: 45px;
}

.rowTable{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.thTable{
  @extend .rowTable;
  background-color: $light-gray;
}

.tdTable{
  @extend .rowTable;
  border-bottom: 1px solid $light-gray;
}
