@import "../../../styles/default";

.section-header{
  padding-top: 15px;
  background-color: $white;

  &-title{
    color: $gray;
  }

  &-link{
    color: $gray;
  }

  &-icon{
    color: $gray !important;
  }
}
