$red: #ff4a46;
$orenge: #fd8455;
$yellow: #eec820;
$green: #87c97f;
$light-blue: #83c7d4;
$blue: #83c7d4;
$dark-blue: #1e394f;
$light-gray: #f0f2f1;
$gray: #848484;
$white: #fff;
$black: #000;



$tb-light-green: #3ccbbf;
$tb-green: #32b2a6;
$tb-blue: #035081;
$tb-dark-blue: #0a293b;
$tb-black: #3a3a3c;
$tb-white: #ffffff;
$tb-white-smoke : #F5F5F5;
$tb-light-gray: #dfe0e2;
$tb-gray: #bec1c1;
$tb-dark-gray: #31344b;

//link
$tb-gray-link: #adb7c7;
$tb-dark-gray-link: #adb7c7;

//validation
$tb-red: #e41831;

$tb-yellow: #ffda58;
