@import "plugins";
@import "responsive";
@import "colors";
@import "button";

body{
  background-color: $light-gray;
}

.lms-body, body{
  font-family: "proxima-nova", sans-serif;
  overflow-x: hidden;
  background-color: $light-gray !important;
  color: $dark-blue;
}


.lms-body{
  padding-top: 45px;
  padding-bottom: 90px;
}

.container{
  //margin-top: 45px;
}

.line-breaks{
  margin-bottom: 5px;
}

.card{
  margin: 0 auto;
  margin-bottom: .75rem;
}

.text-center{
  text-align: center;
}

.center{
  margin: 0 auto;
}

a, a:hover{
  cursor: pointer;
}


.leader-tag{
  position: absolute;
  left: -15px;
  top: -25px;
  padding: 5px 2.5px;
  border-radius: 10em;
  width: 30px;
}

.step-tag{
  padding: 5px;
}

/* Forms */
.ng-invalid.ng-dirty.ng-touched {
  border-color: #ebcccc;
  outline-color: #ebcccc;
}
.ng-valid.ng-dirty {
  border-color: #5bc0de;
  outline-color: #5bc0de;
}

.navbar, .jumbotron{
  border-radius: 0;
}
*:focus {outline:none !important}

.box-wrapper{
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  //margin-top: 45px;
  margin-bottom: 45px;
  padding: 15px;
  background-color: $white;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  overflow-y: hidden;
}



textarea {
  resize: none !important;
}


.clear{
  clear: both;
}

.pull-left{
  float: left;
  clear: both;
}

.pull-right{
  float: right;
  clear: both;
}

.scrollable-content {
  overflow-x:hidden;
  max-height: 350px;
  padding: 2rem;
  overflow-y: scroll;
}

.scrollable-content::-webkit-scrollbar {
  width:10px;
  border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar * {
  background:transparent;
  border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: $gray !important;
  border-radius: 10px;

}

/* Table */

.rowTable{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.thTable{
  @extend .rowTable;
  background-color: $light-gray;
}

.tdTable{
  @extend .rowTable;
  border-bottom: 1px solid $light-gray;
}

/* Message ui-growl */

:host/deep/.ui-growl-item-container.ui-state-highlight.ui-growl-message-success {
  background-color: $green;
  border-color: $green;
}

/* modal */


:host /deep/.ui-resizable-se{
  display: none;
}

:host /deep/.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow {
  position: fixed;
  padding: 0;
  overflow: hidden;
  width: 500px;
}
