@mixin section($col){
  @include span-columns($col);
  @include omega();
  @include pad();
}

@mixin center(){
  text-align: center;
  margin: 0 auto;
}


@mixin tb-section($color){
  @include outer-container;
  max-width: 100%;
  background-color: $color;
}

