<div class="section-header">
  <div class="container" style="margin-top: 55px; padding-bottom: 15px;">
    <div class="row">
      <div class="col-xs-12">
        <a class="section-header-link link" (click)="cancel()" routerLinkActive="true">
          <i class="section-header-icon fa fa-chevron-left" aria-hidden="true"></i> ย้อนกลับ</a>
        <h3 class="section-header-title">พิมพ์บัตรเข้าระบบของนักเรียน</h3>
      </div>
    </div>
  </div>
</div>

<div class="lms-body">
  <div class="container">


    <div class="row box-wrapper">

      <div class="row">
        <div class="col-xs-12">
          <button style="float: right" class="btn btn-green">พิมพ์</button>
        </div>
      </div>

      <div class="row" *ngIf="students != null">
        <div class="col-md-3" *ngFor="let student of students">

          <div class="panel panel-default">
            <div class="panel-body">
              <h4 class="panel-title">ID: {{student.student_id}}</h4>
              <h4 class="panel-title">Name: {{student.name}}</h4>
              <hr>
              <p><strong>username:</strong> {{student.username}}</p>
              <p><strong>password:</strong> {{student.password}} </p>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
