@import "../../styles/default";

.center{
  margin: 0 auto;
}

.section-header{
  padding-top: 15px;
  background-color: $blue;

  &-title{
    color: $white;
  }

  &-link{
    color: $white;
  }

  &-link:hover{
    color: $white;
  }

  &-icon{
    color: $white !important;
  }
}
