<div class="lms-body">
  <div class="container">
    <div class="row box-wrapper">
      <h4 class="title text-center">เข้าสู่ระบบผู้สอน</h4>
      <p style="margin-bottom: 15px"><small *ngIf="this.authService.isLoggedIn()" class="text-muted" >{{message}}</small></p>
      <form [formGroup]="userForm"  (ngSubmit)="signin(userForm.value)" novalidate >
        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" placeholder="Email"  name="email" formControlName="email">
            <control-messages [control]="userForm.controls.email"></control-messages>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-3 col-form-label">รหัสผ่าน</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" formControlName="password">
            <control-messages [control]="userForm.controls.password"></control-messages>
          </div>
        </div>
        <small class="form-text text-muted offset-sm-3 col-sm-9" *ngIf="errorMessage != null" style="float: left; margin-bottom: 15px;">{{errorMessage}}</small>

        <p class="forgotpassword"><a routerLinkActive="true" routerLink="/auth/forgotpassword">ลืมรหัสผ่าน</a></p>

        <div class="form-group row submit">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-info btn-block" [disabled]="!userForm.valid">เข้าสู่ระบบ</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<p-growl [value]="msgs" sticky="sticky"></p-growl>

