@import "../../../styles/default";

.container{
  margin-top: 0 !important;
}

.navbar{
  position: fixed;
  opacity: .99;
  z-index: 999;
  background-color: $blue;
  color: $white;
  min-height: 80px;
  padding-top: 15px;
}

.navbar-nav>li>a{
  color: $white;
}

.navbar-nav{
  float: none;
}

.btn-toggle{
  color: $white;
}

.btn-logout{
  cursor: pointer;
}


.navbar-brand{
  margin-top: -10px;
}

.navbar-brand>img {
  display: block;
  max-height: 35px;
  float: left;
  margin-right: 15px;
}

.avatar{
  display: block;
  float: left;
  //margin-top: 10px;
  max-height: 50px;
}

.navbar-default .navbar-nav>.open>a{
  background-color: transparent;
}
