@import "../../../styles/default";
.jumbotron{
  max-height: 100px;
  margin-bottom: 5px;
  padding-top: 45px;
  padding-bottom: 0;
}

.container{
  margin-top: 0;
}

.courseNav{
  background-color: $white;
  color: $black;
}


.courseNavLink{
  cursor: pointer;
  text-align: center;
  border-bottom: 5px solid transparent;
}

.courseNavLink:hover{
  color: $light-blue;
  border-bottom: 5px solid $light-blue;
}


.link{
  margin: 0.5rem;
  color: $light-blue;
}

