<div class="jumbotron courseNav" style="margin-bottom: 45px">
    <div class="container">
        <div class="row center">
            <div class="col-xs-4 courseNavLink" (click)="giveAllFeedback()">
                <p class="link">Score</p>
            </div>
            <div class="col-xs-4 courseNavLink" (click)="goToWebboard()">
                <p class="link">Chat</p>
            </div>
            <div class="col-xs-4 courseNavLink" (click)="viewLeaderboard()">
                <p class="link">Leaderboard</p>
            </div>
        </div>
    </div>
</div>

