@import "../../styles/default";

body{
  background-color: $light-gray;
}

.jumbotron{
  color: $white;
}

.title{


  @include media($mobile) {
    margin-top: 15px;
    padding-bottom: 45px;
  }

  @include media($small-tablet) {
    margin-top: 15px;
    padding-bottom: 45px;
  }

  @include media($tablet) {
    margin-top: 15px;
    padding-bottom: 45px;
  }


  @include media($desktop) {
    margin-top: -15px;
    padding-bottom: 45px;
  }

}

.section{

  width: 75%;

  @include media($mobile) {
    padding: 15px;
  }

  @include media($small-tablet) {
    padding: 15px;
  }

  @include media($tablet) {
    padding: 15px;
  }


  @include media($desktop) {
    padding: 45px;
  }
}

.section-introduction{
  padding-top: 45px;
  padding-bottom: 45px;
}

.section-1{
  @extend .section;
  background-color: $yellow;
}

.section-2{
  @extend .section;
  background-color: $light-blue;
  text-align: right;
}

.section-3{
  @extend .section;
  background-color: $green;
}

.section-4{
  @extend .section;
  background-color: $dark-blue;
  text-align: right;
}

.section-5{
  padding-bottom: 45px;
  background-color: $white;
  width: 100%;
}
