<div class="container">
    <div class="row box-wrapper" style="padding: 2rem;">
        <form style="max-width: 800px" class="center">
            <h5 style="margin-bottom: 15px">สร้างข้อความ  <hr></h5>
            <div class="form-group row">
                <label for="courseName" class="col-sm-2 col-form-label"> ชื่อเรื่อง</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="courseName">
                </div>

            </div>
            <div class="form-group row">
                <label for="courseDescription" class="col-sm-2 col-form-label">รายละเอียด</label>
                <div class="col-sm-10">
                    <textarea rows="5" class="form-control" id="courseDescription" name="courseDescription"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="courseDescription" class="col-sm-2 col-form-label">ไฟล์แนบ</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" style="border: none">
                </div>
            </div>
            
            <hr>
            <div class="form-group row pull-xs-right">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-secondary">ยกเลิก</button>
                    <button type="submit" class="btn btn-info">ส่งข้อความ</button>
                </div>
            </div>
        </form>
    </div>
</div>