@import "../../../styles/default";

.lms-body{
  margin-top: 45px;
}

.section-header{
  padding-top: 15px;
  margin-top: -45px;
  background-color: $blue;

  &-title{
    color: $white;
  }

  &-link{
    color:  $white;
  }

  &-icon{
    color: $white !important;
  }
}

