@import "../../../styles/default";

.section-header{
  padding-top: 15px;
  background-color: $white;

  &-title{
    color: $gray;
  }

  &-link{
    color: $gray;
  }

  &-icon{
    color: $gray !important;
  }
}


.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  max-height: 250px;
  overflow-y: auto;
}

.teachList-header{
  text-align: center;
}

.teachList-more{
  color: $green;
}


.addClass{
  margin-bottom: 55px;
  max-width: 20rem;
  padding: 2rem;
  text-align: center;

  &__btn{
    margin-bottom: .75rem;
    color: $green;
  }

}

.panel-footer {
  padding: 15px 10px;
  background-color: transparent;
  border: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.fa-cog{
  cursor: pointer;
}

.dropdown-menu{
  position: relative;
}
